.h2 {
    color: black;
    text-align: left;
    margin-top: 5px
}

.center,
.centerBtn {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    /* margin-left: 1rem; */
    text-align: right;
    margin-left: 500px;
    margin-top: 20px;
}

button:hover,
button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.button--alt {
    color: #8a2b06;
}