.cart-items {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 1rem;
  color: white;
}

.menu {
  color: skyblue;
  cursor: pointer;
}

.cartContainer {
  width: 60%;
  margin: 0 auto;
}

.empty {
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.actions {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  margin-left: 0.5rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

.actions .resetCartBtn {
  color: red;
  border: 1px solid black;
}

.actions .resetCartBtn:hover {
  background-color: red;
  color: white;
}
